::-webkit-scrollbar{
    width:10px;
    height:10px;
}

::-webkit-scrollbar-track{
    background:#151515;
    border-left:1px solid #2b2b2b;
}

::-webkit-scrollbar-thumb{
    background:#3d3d3d;
    border-radius:100px;
    border:2px solid #151515;
    transition:all .2s ease;
}

::-webkit-scrollbar-thumb:hover{
    background:#5c5c5c;
    box-shadow:0 0 8px rgba(255,255,255,.25);
}

::-webkit-scrollbar-thumb:active{
    background:#ffffff;
    box-shadow:0 0 12px rgba(255,255,255,.45);
}

::-webkit-scrollbar-corner{
    background:#151515;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, monospace;
}

body{
    background: #101010;
    color: white;
    font-family: Consolas, monospace;
    overflow: hidden;
}

#titleBar{
    height: 40px;
    background: #181818;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

#topButtons{
    display: flex;
    align-items: center;
    gap: 10px;
}

#aboutButton{
    border: none;
    font-size: 18px;
    background: #1b1b1b;
    color: #e5e5e5;
    padding: 5px 10px;
    border: 1px solid #3f3f3f;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

#aboutButton:hover{
    background: #252525;
    border-color: #505050;
    color: white;
    box-shadow: 0 0 12px white;
}

#aboutButton:active{
    transform: scale(.98);
}

#noteButton{
    border: none;
    font-size: 18px;
    background: #1b1b1b;
    color: #e5e5e5;
    padding: 5px 10px;
    border: 1px solid #3f3f3f;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

#noteButton:hover{
    background: #252525;
    border-color: #505050;
    color: white;
    box-shadow: 0 0 12px white;
}

#noteButton:active{
    transform: scale(.98);
}

#statsButton{
    border: none;
    font-size: 18px;
    background: #1b1b1b;
    color: #e5e5e5;
    padding: 5px 10px;
    border: 1px solid #3f3f3f;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

#statsButton:hover{
    background: #252525;
    border-color: #505050;
    color: white;
    box-shadow: 0 0 12px white;
}

#statsButton:active{
    transform: scale(.98);
}

#moodButton{
    border: none;
    font-size: 18px;
    background: #1b1b1b;
    color: #e5e5e5;
    padding: 5px 10px;
    border: 1px solid #3f3f3f;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

#moodButton:hover{
    background: #252525;
    border-color: #505050;
    color: white;
    box-shadow: 0 0 12px white;
}

#moodButton:active{
    transform: scale(.98);
}

#world{
    width: 100vw;
    height: calc(100vh - 40px);
    overflow: hidden;
    position: relative;
    background: #111;
}

#worldCanvas{
    width: 100%;
    height: 100%;
    display: block;
    background: #111111;
    image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@keyframes pulse{
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    50%{
        transform: translate(-50%, -50%) scale(1.3);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}

.hidden{
    display: none !important;
}

#pieChart{
    display: block;
    margin: 15px auto;
}

#statsLegend{
    margin-top: 15px;
    max-height: 180px;
    overflow-y: auto;
}

.legendItem{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
}

.legendColor{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    flex-shrink: 0;
}

#journalModal{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, .45);
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutModal{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, .45);
    display: flex;
    justify-content: center;
    align-items: center;
}

#moodModal{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, .45);
    display: flex;
    justify-content: center;
    align-items: center;
}

#moodChart{
    width: 100%;
    background: #111;
    border-radius: 10px;
}

#moodInfo{
    height:60px;
    padding:10px;
    margin-top:15px;
    text-align:center;
    color:#aaa;
    background:#111;
    border-radius:8px;
    border:1px solid #333;
    box-sizing:border-box;
    overflow:hidden;
    line-height:20px;
}

#statsModal{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, .45);
    display: flex;
    justify-content: center;
    align-items: center;
}

#journalBox{
    width: 420px;
    background: #1b1b1b;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 20px;
}

#moodWindow{
    width: 700px;
    height: 520px;
    background: #1b1b1b;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 20px;
    color: white;
    overflow: hidden;
}

#aboutWindow{
    width: 600px;
    max-height: 85vh;
    background:#1b1b1b;
    border:1px solid #444;
    border-radius:12px;
    padding:20px;
    overflow-y:auto;
}

.statsBox{
    width: 420px;
    background: #1b1b1b;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 20px;
}

#journalBox h2{
    margin-bottom: 15px;
}

#moodHeader h2{
    margin-bottom: 15px;
}

#statsHeader h2{
    margin: 15px;
}

#aboutHeader h2{
    margin: 15px;
}

#emotionRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#memoryText{
    width: 100%;
    height: 140px;
    resize: none;
    background: #111;
    color: white;
    border: 1px solid #555;
    outline: none;
    border-radius: 8px; 
    padding: 10px;
    margin-bottom: 15px;
}

#memoryText:focus{
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(203, 203, 203, 0.3);
}

#saveMemory{
    width: 100%;
    height: 40px;
    background: #1b1b1b;
    color: #e5e5e5;
    border: 1px solid #555;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 15px;
}

#saveMemory:hover{
    background: #252525;
    border-color: #505050;
    color: white;
    box-shadow: 0 0 12px white;
}

#saveMemory:active{
    transform: scale(.98);
}

#githubButton{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    background: #1b1b1b;
    color: #e5e5e5;
    border: 1px solid #555;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 15px;
}

.aboutHero{
    text-align: center;
    margin-bottom: 22px;
}

.aboutHero h3{
    font-size: 22px;
    margin-bottom: 8px;
}

.aboutHero h4{
    color: #a9a9a9;
    font-weight: normal;
    line-height: 1.5;
}

.aboutCard{
    background: #111;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 18px;
    margin: 15px 0;
}

.aboutCard p{
    color: #d5d5d5;
    line-height: 1.7;
    margin-bottom: 12px;
}

.aboutCard p:last-child{
    margin-bottom: 0;
}

.aboutDivider{
    width: 65%;
    height: 1px;
    background: #333;
    margin: 18px auto;
}

.creatorName{
    text-align: center;
    margin-top: 15px;
    font-size: 34px;
    color: white;
    text-shadow: 0 0 12px rgba(255,255,255,.3);
}

.funnyCard{
    border-left: 4px solid #777;
}

#githubButton:hover{
    background: #252525;
    border-color: #505050;
    color: white;
    box-shadow: 0 0 12px white;
}

#githubButton:active{
    transform: scale(.98);
}

#emotionTitle{
    margin-bottom: 8px;
    color: white;
    font-size: 14px;
}

.emotion{
    font-family: Consolas, monospace;
    font-size: 24px;
    color: #777;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    padding: 4px 8px;
}

.emotion[data-emotion="happy"]:hover,
.emotion[data-emotion="happy"].selected{
    color: #47ff6b;
    text-shadow: 0 0 10px #47ff6b;
}

.emotion[data-emotion="excited"]:hover,
.emotion[data-emotion="excited"].selected{
    color: #ffe84d;
    text-shadow: 0 0 10px #ffe84d;
}

.emotion[data-emotion="loving"]:hover,
.emotion[data-emotion="loving"].selected{
    color: #ff63d5;
    text-shadow: 0 0 10px #ff63d5;
}

.emotion[data-emotion="neutral"]:hover,
.emotion[data-emotion="neutral"].selected{
    color: white;
    text-shadow: 0 0 10px white;
}

.emotion[data-emotion="sad"]:hover,
.emotion[data-emotion="sad"].selected{
    color: #66c8ff;
    text-shadow: 0 0 10px #66c8ff;
}

.emotion[data-emotion="angry"]:hover,
.emotion[data-emotion="angry"].selected{
    color: #ff5050;
    text-shadow: 0 0 10px #ff5050;
}

.emotion[data-emotion="tired"]:hover,
.emotion[data-emotion="tired"].selected{
    color: #a78bfa;
    text-shadow: 0 0 10px #a78bfa;
}

#journalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    margin-bottom: 18px;
}

#aboutHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    margin-bottom: 18px;
}

#statsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    margin-bottom: 18px;
}

#moodHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    margin-bottom: 18px;
}

#closeJournal{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: #9a9a9a;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: -10px;
    transition: all .2s ease;
}

#closeJournal:hover{
    color: #ff4d4d;
    background: #2a1b1b;
    box-shadow: 0 0 10px rgba(255, 77, 77, .45);
}

#closeJournal:active{
    transform: scale(.92);
}

#closeMood{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: #9a9a9a;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: -10px;
    transition: all .2s ease;
}

#closeMood:hover{
    color: #ff4d4d;
    background: #2a1b1b;
    box-shadow: 0 0 10px rgba(255, 77, 77, .45);
}

#closeMood:active{
    transform: scale(.92);
}

#closeStats{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: #9a9a9a;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: -10px;
    transition: all .2s ease;
}

#closeStats:hover{
    color: #ff4d4d;
    background: #2a1b1b;
    box-shadow: 0 0 10px rgba(255, 77, 77, .45);
}

#closeStats:active{
    transform: scale(.92);
}

#closeAbout{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: #9a9a9a;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: -10px;
    transition: all .2s ease;
}

#closeAbout:hover{
    color: #ff4d4d;
    background: #2a1b1b;
    box-shadow: 0 0 10px rgba(255, 77, 77, .45);
}

#closeAbout:active{
    transform: scale(.92);
}

#closeEditor{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: #9a9a9a;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: -10px;
    transition: all .2s ease;
}

#closeEditor:hover{
    color: #ff4d4d;
    background: #2a1b1b;
    box-shadow: 0 0 10px rgba(255, 77, 77, .45);
}

#closeEditor:active{
    transform: scale(.92);
}

#memoryList{
    margin-top: 20px;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.memoryCard{
    padding: 15px;
    margin-bottom: 12px;
    background: #111;
    border-radius: 8px;
    border-left: 6px solid white;
    cursor: pointer;
    transition: .2s;
}

.memoryCard:hover{
    transform: translateX(5px);
}

.memoryEmotion{
    font-size: 24px;
}

.memoryNumber{
    margin-top: 5px;
    color: #ccc;
}

#addMemory{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 45px;
    background: #111;
    color: #e5e5e5;
    border: 1px solid #555;
    display: block;
    margin: 25px auto 0;
    margin-top: 25px;
    flex-shrink: 0;
    cursor: pointer;
}

#addMemory:hover{
    color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 0 15px #ffffff;
}

#cancelMemory{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background: #1b1b1b;
    color: #e5e5e5;
    border: 1px solid #555;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 15px;
}

#cancelMemory:hover{
    background: #252525;
    border-color: #505050;
    color: white;
    box-shadow: 0 0 12px white;
}

#cancelMemory:active{
    transform: scale(.98);
}

#desktopWidget{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background: #1b1b1b;
    color: #e5e5e5;
    border: 1px solid #555;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 15px;
}

#desktopWidget:hover{
    background: #252525;
    border-color: #505050;
    color: white;
    box-shadow: 0 0 12px white;
}

#desktopWidget:active{
    transform: scale(.98);
}